body {
  font-family: 'Times New Roman', serif;
  color: white;
  background: rgb(180,60,60);
  background: radial-gradient(circle, rgba(180,60,60,1) 0%, rgba(249,156,41,1) 100%);
  max-width: 800px;
  text-align: center;
  margin: 0 auto; /* this centers the contents on the page */
}

/* This makes tables look old-timey: */
table {
    margin: 0 auto; /* this centers the nav bar, which is a table */
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-bottom: 1px solid #808080;
    border-right: 1px solid #808080;
}
th, td {
    padding: 5px;
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    border-bottom: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    background: rgba(255, 255, 255, 0.5); /* semi-transparent white */
}
/* Here's your special divider style, if you chose one: */
hr {
  border: none; background: url('Images/firedivider.png') left no-repeat; height: 14px; width: 576px;
  margin: 0 auto; /* center the horizontal rule */
}

.img-container {
  text-align: center;
  display: block;
}
